body {
  background-color: #262626;
}

.button-container {
  text-align: center;
}
.button-container button {
        display: inline-block;
        margin: 0 5px;
        padding: 10px 20px;
        border: none;
        border-radius: 100px; /* Adds rounded corners */
        background: #f6f5f6; /* Adds a gradient background */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
        color: #333;
        font-size: 16px;
        font-weight: 400;
        font-family: monospace;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 0.3s ease; /* Adds a hover effect */ 
      }
      .button-container button:hover {
      transform: translateY(-2px); /* Moves the button up slightly on hover */
      }
      h1 {
        color: white;
        font-family: sans-serif;
      }
      p {
        color: white;
        font-family: sans-serif;
      }

.container {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.title {
  color: #fff;
  text-align: left;
}

.title h2 {
  margin-top: 0;
}

.code-viewer {
  background-color: #1e1e1e;
  border-radius: 10px;
  flex-basis: 50%;
  margin-left: 20px;
  padding: 20px;
}

pre {
  margin: 0;
}

code {
  color: #fff;
  display: block;
}

code[class*="language-"] {
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.5;
  tab-size: 4;
}

pre[class*="language-"] {
  margin: 0;
  padding: 1em;
  overflow: auto;
}

.language-html {
  color: #ff9900;
}

.language-css {
  color: #00bfff;
}

.language-javascript {
  color: #ffdc00;
}
